.vscode/**
obj/**
libdocklike.so
Makefile
COPYING
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/.deps/
src/.libs/
*.lo
*.la
src/_gresources.c
src/docklike.desktop
*TAGS
GPATH
m4/
po/.*
po/*.gmo
po/POTFILES
po/stamp-it
intltool-*
Makefile.in
po/Makefile*