.vscode/**
obj/**
libdocklike.so
Makefile
COPYING
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/.deps/
src/.libs/
*.in
*.lo
*.la
src/_gresources.c
