[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Docklike Taskbar
Comment=A minimalist, dock-style taskbar for XFCE4
Icon=preferences-system-windows
X-XFCE-Module=docklike
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0